.full-width{
  width: 100%;
}
.toolbar {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.toolbar-right {
  display: flex;
  align-items: center;
}
