<mat-horizontal-stepper>
  <mat-step label="BT Session Form">

    <form [formGroup]="btSessionForm" novalidate (ngSubmit)="onSubmit()" class="center-div"> -->
      <mat-card>

        <h2>UPDATE BT SESSION FORM</h2>

        <mat-card-content>
          <mat-card class="card">
            <ng-container>
              <mat-card-header>
                <mat-card-title>Sitting Behaviour</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col ">
                  <mat-form-field class="full-width phone" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Grade" formControlName="sitting">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width phone" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksSitting">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Eye Contact</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="eyeContact">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksEyeContact">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Attention</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="attention">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksAttention">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Mood</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="mood">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksMood">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Interest in Activities</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="activities">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksActivities">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Comprehension of Instructions</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="comprehensionInstructions">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksComprehensionInstructions">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Response to Instructions</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="responseInstructions">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksResponseInstructions">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Waiting for Turn</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="waiting">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksWaiting">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Compliance</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="compliance">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksCompliance">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Behaviour</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="behaviour">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksBehaviour">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Communication</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="communication">
                      <mat-option *ngFor="let key of  keys" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksCommunication">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </mat-card>

          <mat-card>
            <ng-container>
              <mat-card-header>
                <mat-card-title>Throw Things</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="throwThings">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksThrowThings">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Tears Things</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="tearsThings">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksTearsThings">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Aggressive Behaviour to Others</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="angryProne">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksAngryProne">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Self Injurious Behaviour</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="selfInjurious">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksSelfInjurious">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Repetitive behaviour</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="repetitive">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksRepetitive">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Tantrum Behaviours</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="tantrums">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksTantrums">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Climbs over Furniture</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="climbsFurniture">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksClimbsFurniture">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container>
              <mat-card-header>
                <mat-card-title>Disruptive Behaviour</mat-card-title>
              </mat-card-header>
              <div class="row box">
                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select placeholder="Garde" formControlName="disruptiveBehaviour">
                      <mat-option *ngFor="let key of  grades" [value]="key.value">
                        {{ key.name }}&nbsp;:&nbsp;{{ key.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarksDisruptiveBehaviour">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>



          </mat-card>

          <mat-card-actions>
            <button mat-raised-button color="primary">UPDATE</button>
          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>


  <mat-step label="Activity Form" [completed]="isNextStepEnabled">


    <form [formGroup]="activityForm" novalidate class="center-div">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>ADD ACTIVITY</mat-card-title>

          <div style="flex-grow: 1; display: flex; justify-content: flex-end;">
            <mat-slide-toggle formControlName="activityStatus">Completed</mat-slide-toggle>
          </div>
        </mat-card-header>

        <mat-card-content>

          <table class="table table-bordered" formArrayName="activityDetails">
            <table *ngFor="let seData of activity().controls; let i=index" [formGroupName]="i" class="full-width">

              <tr>
                <td colspan="2">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Activity name</mat-label>
                    <input matInput formControlName="activity" placeholder="Enter activity name">
                  </mat-form-field>
                </td>

                <td colspan="2">
                  Response :
                  <textarea type="text" formControlName="response" class="form-control"></textarea>
                </td>
                <td colspan="2">
                  <div>
                    <mat-slide-toggle formControlName="status">Done</mat-slide-toggle>
                  </div>

                </td>
                <td>
                  <button (click)="removeActivity(i)" class="btn btn-danger">Remove</button>
                </td>

              </tr>

            </table>
          </table>
          <button mat-raised-button type="button" (click)="addActivity()" color="primary">Add new </button>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="button" (click)="onActivitySubmit()">UPDATE</button>
        </mat-card-actions>
      </mat-card>
    </form>





  </mat-step>
