<div class="img_size">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  </head>
  <body>
    <div class="img_size">
      <ng-container *ngIf="data.url.split('.').pop() === 'pdf'">
        <pdf-viewer [src]="data.url"
          [render-text]="true"
          [original-size]="false"
          style="width: 900px;height: 700px">
        </pdf-viewer>
      </ng-container>
      <ng-container *ngIf="data.url.split('.').pop() !== 'pdf'">
        <img class="img_size" [src]="data.url">
      </ng-container>
    </div>
  </body>
</div>
