body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    // justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    //align-content: center;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  ul {
    .table-row{
        width: 100px;
    }
  }
}
.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: block;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.row_check{
  overflow-wrap: break-word;
}

//- Google Fonts
$font-google-primary: 'https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap';
$font-google-secondary: 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';

//- @type List
$abril-fatface: 'Abril Fatface', cursive;
$montserrat: 'Montserrat', sans-serif;

//- Typography
$base-font-family: $montserrat;
$heading-font-family: $abril-fatface;

$font-size-small: 0.875em;

/*- Screen Sizes*/
$tablet-width: full-width;
$desktop-width: 1024px;

/* COLOR HEX */
$cadet: #4f6d7aff;
$maximum-blue: #5ea5b8ff;
$columbia-blue: #c0d6dfff;
$platinum: #eaeaeaff;
$cultured: #f3f3f3ff;
$nero: #444444;

/* COLOR Gradient */
$dl-gradient-right: linear-gradient(90deg, rgba(0,0,0,0.04) 20%, rgba(255,255,255,0) 0%);

$body-background-color: $platinum;
$body-text-color: $nero;

//- Global Functions
/*import fonts*/
@if variable-exists(font-google-primary) {
  @import url($font-google-primary);
}
@if variable-exists(font-google-secondary) {
  @import url($font-google-secondary);
}

//- Global Mixins

/*media queries*/
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $body-background-color;
    font-family: $base-font-family;
    font-size: $font-size-small;
    // color: $body-text-color;
    line-height: 1.5;
}
.dl-blurbs {
	display: grid;
	@include tablet-up {
		grid-template-columns: repeat(2, 1fr);
		gap: 2vw;
	}
}
/* LIST */
dl {
  counter-reset: count;
	background: $dl-gradient-right;
	padding-left: 4vw; //default is smartphone
	// padding-right: 4vw;
	margin: 0;
	@include tablet-up {padding-left: 2vw;}
	@include desktop {
		padding-top: 3vw;
		padding-bottom: 3vw;
	}

}
dl + dl {
	counter-reset: counter 4;
}


.sublist {
  counter-increment: chapter;
	// color: $cadet;
	// font-family: $base-font-family;
	// font-size: 18px;
	//text-transform: uppercase;
}

.sublist::before {
  content: counter(chapter, upper-alpha)".";
	// font-family: $heading-font-family;
	// color: $maximum-blue;
	//margin-left: -1vw;
	//padding-right: 12px;
}

table{
  width: 100%;
  background-color: $cultured;
  font-family:$base-font-family;
	color: $cadet;
  font-size: 14px;
  line-height: 2;
}
