<mat-card  *ngIf="btData">
  <mat-card-header>
    <mat-card-title>BEHAVIORAL ASSESSMENT REPORT</mat-card-title>
  </mat-card-header>
  <mat-card class="container">
    <div class="row">
      <div class="col">
        <h4>Date of assessment : {{btData.date | date: 'dd/MM/yyyy'}}</h4>
      </div>
      <div class="col">
        <h4>Updated Date : {{btData.updatedDate | date: 'dd/MM/yyyy'}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>K/C/O : {{btData.kco}}</h4>
      </div>
      <div class="col">
        <h4>Informants : {{btData.informants}}</h4>
      </div>
    </div>

    <ul class="responsive-table">
      <li class="table-row">
        <div>Presenting Concerns : {{btData.presentingConcerns}}</div>
      </li>
      <li class="table-row">
        <div>Personal History : {{btData.personalHistory}}</div>
      </li>
      <mat-card>
      <ul>
        <li>H/o of Gadget Exposure : {{btData.gadgetExposure}}</li>
        <li>H/o of Gadget Seizure : {{btData.seizure}}</li>
        <li>H/o of Drug Usage : {{btData.drugUsage}}</li>
      </ul></mat-card><br>
      <li class="table-row">
        <div>Family History : {{btData.familyHistory}}</div>
      </li>
      <li class="table-row">
        <div>Developmental Milestones : {{btData.developmentalMilestones}}</div>
      </li>
      <li class="table-row">
        <div>Occupational History : {{btData.occupationalHistory}}</div>
      </li>
      <li class="table-row">
        <div>School History : {{btData.schoolHistory}}</div>
      </li>
      <li class="table-row">
        <div>Behavioural Concerns : {{btData.behaviouralConcerns}}</div>
      </li>
    </ul>

    <ul class="responsive-table">
      <li class="table-header">
        <h3><b>GENERAL BEHAVIOURAL OBSERVATION</b></h3>
        <li class="table-row sublist">
          <div>Physical Appearence : {{btData.physicalAppearance}}</div>
        </li>
        <li class="table-row sublist">
          <div>Activity Level : {{btData.activityLevel}}</div>
        </li>
        <li class="table-row sublist">
          <div>Attention & Concentration : {{btData.attentionConcentration}}</div>
        </li>
        <li class="table-row sublist">
          <div>Emotional Regulation : {{btData.emotionalRegulation}}</div>
        </li>
        <li class="table-row sublist">
          <div>Attachment : {{btData.attachment}}</div>
        </li>
    </ul>

    <ul class="responsive-table">
      <mat-card>
        <div>Test Conducted &nbsp;:&nbsp;&nbsp; </div>
        <div class="row" *ngIf="btData.vsms == true">
          <div class="col">
            <p style="margin-left: 15%;">VSMS/VBAS,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.ddst == true">
          <div class="col">
            <p style="margin-left: 15%;">DDST/DST/GCBS,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.sfbt == true">
          <div class="col">
            <p style="margin-left: 15%;">SFBT,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.gdt == true">
          <div class="col">
            <p style="margin-left: 15%;">GDT,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.bkt == true">
          <div class="col">
            <p style="margin-left: 15%;">BKT/MISIC,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.mchat == true">
          <div class="col">
            <p style="margin-left: 15%;">MCHAT/ISAA,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.vanderbelt == true">
          <div class="col">
            <p style="margin-left: 15%;">Vanderbelt/Conner's/ADHD SRS,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.dpcl == true">
          <div class="col">
            <p style="margin-left: 15%;">DPSL/CBCL,</p>
          </div>
        </div>
        <div class="row" *ngIf="btData.nimhans == true">
          <div class="col">
            <p style="margin-left: 15%;">NIMHANS Index for SLD/LDDI</p>
          </div>
        </div>
      </mat-card><br>
    </ul>

    <ul class="responsive-table">
      <li class="table-row">
        <div>Test Findings : {{btData.testFindings}}</div>
      </li>
      <li class="table-row">
        <div>Impression : {{btData.impression}}</div>
      </li>
      <li class="table-row">
        <div>Action Plan for Future : {{btData.actionPlanforFuture}}</div>
      </li>
    </ul>
  </mat-card>
</mat-card>
