
<form [formGroup]="leaveForm">
    <mat-card class="background">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Therapist Name</mat-label>
              <mat-select formControlName="therapistId" #id (selectionChange)="getSessions(id.value)">
                <mat-option *ngFor="let item of user" [value]="item._id">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Reason</mat-label>
              <textarea matInput formControlName="reason" placeholder="Enter reason"></textarea>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName="fromDate" placeholder="Choose start date">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="toDate" placeholder="Choose end date">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
          </div>
        </div>

        <mat-card-actions>
          <button color="primary" *ngIf="!data.status" mat-raised-button (click)="submitForm()" [disabled]="!leaveForm.valid">ADD</button>&nbsp;&nbsp;
          <button color="primary" *ngIf="data.status" mat-raised-button type="button" [disabled]="!leaveForm.valid" (click)="editFunction()">UPDATE</button>&nbsp;&nbsp;
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>

