.assessment-toolbar {
    background-color: bisque;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .assessment-details {
    padding: 20px;
    font-family: Arial, sans-serif;
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  }
  